<div class="example-container">
  <mat-grid-list cols="2" rowHeight="">
    <mat-grid-tile >
        <div class="bloque">
            <h1>Datos Personales</h1>
            <mat-form-field>
                <mat-icon matSuffix aria-label="Side nav toggle icon"  >person</mat-icon>
                <input matInput placeholder="Nombre" type="text" required>
            </mat-form-field>
          
            <mat-form-field>
                <mat-icon matSuffix aria-label="Side nav toggle icon"  >person</mat-icon>
                <input matInput placeholder="Apellido" type="text" required>
            </mat-form-field>
            
            <mat-form-field>
              <mat-icon matSuffix aria-label="Side nav toggle icon" >contact_mail</mat-icon>   
              <input matInput placeholder="CI" type="text">
            </mat-form-field> 
            
            <mat-form-field>
                <mat-icon matSuffix aria-label="Side nav toggle icon" >call</mat-icon>
                <input matInput placeholder="Telefono" type="tel">
            </mat-form-field>
          
            <mat-form-field>
                <mat-icon matSuffix aria-label="Side nav toggle icon" >cake</mat-icon>
                <input matInput placeholder="Fecha Nacimiento" type="date">
            </mat-form-field>
           
            <mat-form-field>
              <mat-icon matSuffix aria-label="Side nav toggle icon" >alternate_email</mat-icon>
              <input matInput placeholder="Correo Electronico" type="email">
            </mat-form-field>
          
            <mat-form-field>
              <mat-icon matSuffix aria-label="Side nav toggle icon" >location_on</mat-icon>
              <input matInput placeholder="Direccion" type="text">
            </mat-form-field>
          
            <mat-form-field>
              <mat-select placeholder="Estado">
                <mat-option value="option">Rechazado</mat-option>
                <mat-option value="option">Pendiente</mat-option>
                <mat-option value="option">Aprobado</mat-option>
              </mat-select>
            </mat-form-field>
          
            <mat-form-field>
                <textarea matInput placeholder="Comentario"></textarea>
          </mat-form-field>          
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile>
      <div class="bloque">
        <h1>Datos Adjuntos</h1>
        <mat-form-field>
          <mat-icon matPrefix aria-label="Side nav toggle icon" >attach_file</mat-icon>
          <input matInput placeholder="Curriculum" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix aria-label="Side nav toggle icon" >attach_file</mat-icon>
          <input matInput placeholder="Desafio" type="text">
        </mat-form-field>
        
      <button mat-stroked-button color="warn">Cancelar</button>
      <button mat-raised-button class="natura-button-3" type="aubmit">Guardar</button>
      </div>
    </mat-grid-tile>
  
  </mat-grid-list>
  </div>