<div class="aligner"  *ngIf="formEditarPostulante">
  <form [formGroup] = 'formEditarPostulante' (ngSubmit)="onSubmit()"> 
  <mat-tab-group mat-stretch-tabs >
    <!--inicio pestana 1--> 
    <mat-tab label="Datos Personales">
      
        <!--bloque de la foto-->
        <div class="container" fxLayout="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
          
          <!-- Sin Foto / Foto cargada-->
          <div *ngIf="!isLoadingFoto">
            <label class="hoverable" [for]="urlFoto?null:'fileInput'">
            <img [matTooltip]="urlFoto ? '':'Cambiar Foto de Perfil'" [src]="urlFoto ? urlFoto : 'assets/img/foto-perfil.png'"> 
            <div class="hover-text">Cambiar Foto</div>
            <div class="background"></div>
            </label>
            
            <br>
          </div>

          <!-- Cargando foto-->
          <div *ngIf="isLoadingFoto">
            <mat-spinner></mat-spinner>
          </div>
          <div *ngIf="errorFoto">
            <mat-error >
              <p style="text-align: center" *ngIf="!errorFotoPesado">No se ha podido subir la imagen. Error en el servidor</p>
              <p style="text-align: center" *ngIf="errorFotoPesado">El tamaño maximo por imagen es de 10MB</p>
            </mat-error>
          </div>
          <input id="fileInput" type='file' accept="image/*" (change)="cargarFoto()" class="inputFile" #fotoInput>  
        </div>
        
        <div fxLayoutAlign="center">
            <button mat-button color="warn" *ngIf="urlFoto" (click)="eliminarFoto()">Eliminar</button>
        </div>

        <!--div gral-->
        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
          <!--div bloque 1-->
          <div fxFlex="40%" class="bloque">
            
            <!-- campo del nombre-->
            <mat-form-field>
              <mat-label>Nombre</mat-label>
              <input formControlName = "nombre" matInput placeholder="Nombre" type="text" required id="nombre">
              <mat-icon matSuffix class="icono">person</mat-icon>
              <mat-error  *ngIf="formEditarPostulante?.get('nombre').errors && formEditarPostulante?.get('nombre')?.dirty">
                <p id="hint-nombre-completar" *ngIf=" formEditarPostulante?.get('nombre').hasError('required')">Completar campo</p>
                <p id="hint-nombre-solo-letra" *ngIf=" formEditarPostulante?.get('nombre').hasError('pattern')">Ingresa solo Letras</p>
              </mat-error>
            </mat-form-field>
            
            <!-- campo del apellido-->
            <mat-form-field>
              <mat-label>Apellido</mat-label>
              <input formControlName = "apellido" matInput placeholder="Apellido" type="text" required id="apellido">
              <mat-icon matSuffix class="icono">person</mat-icon>
              <mat-error *ngIf="formEditarPostulante?.get('nombre').errors && formEditarPostulante?.get('nombre').dirty">
                <p id="hint-apellido-completar" *ngIf=" formEditarPostulante?.get('apellido').hasError('required')">Completar campo</p>
                <p id="hint-apellido-solo-letra" *ngIf=" formEditarPostulante?.get('apellido').hasError('pattern')" [ngStyle]="{'color': 'black'}" align="start">Ingrese solo Letras</p>
              </mat-error>
            </mat-form-field>
           
            <!-- campo del mail-->
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="mail" required id="mail">
              <mat-icon matSuffix class="icono">email</mat-icon>
              <mat-error *ngIf="formEditarPostulante?.invalid">{{getErrorEmailMessage()}}</mat-error>
            </mat-form-field>
           
            <!-- campo de la direccion-->
            <mat-form-field>
              <input formControlName = "direccion" matInput placeholder="Direccion" type="text" id="direccion">
              <mat-icon matSuffix class="icono" >location_on</mat-icon>
            </mat-form-field> 

            <!-- campo del estado-->          
            <mat-form-field>
                <mat-select formControlName = "estado" placeholder="Estado"  class="estado" disableRipple id="estado">
                  <mat-option value="1">Desafio Pendiente</mat-option>
                  <mat-option value="2">Desafío Recibido</mat-option>
                  <mat-option value="3">Desafío Revisado</mat-option>
                  <mat-option value="4">Entrevista SM</mat-option>
                  <mat-option value="5">Entrevista Administrador</mat-option>
                  <mat-option value="6">Entrevista Team</mat-option>
                  <mat-option value="7">Aprobado</mat-option>
                  <mat-option value="8">Rechazado</mat-option>
                </mat-select>
              </mat-form-field>   
              
              <mat-form-field>
                <mat-select formControlName = "genero" placeholder="Sexo"  disableRipple id="genero">
                  <mat-option value="Masculino">Masculino</mat-option>
                  <mat-option value="Femenino">Femenino</mat-option>
                  <mat-option value="Otro">Otro</mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <!--sgt bloque 2-->
          <div fxFlex="40%" class="bloque">

            <!-- campo del documento-->
            <mat-form-field>
              <mat-icon matSuffix class="icono">contact_mail</mat-icon>
              <input formControlName = "documento" matInput placeholder="CI" type="text" id="documento">
              <mat-error *ngIf="formEditarPostulante?.get('documento').hasError('pattern')">Ingrese solo numeros</mat-error>
            </mat-form-field>
            
            <!-- campo del telefono-->
            <mat-form-field>
              <mat-label>Telefono</mat-label>
              <input formControlName = "celular" matInput placeholder="ej; +595961565376" type="tel"
              ng-minlength="10" ng-maxlength="10"  id="celular">
              <mat-icon matSuffix class="icono">call</mat-icon>
              <mat-error *ngIf="formEditarPostulante?.get('celular').hasError('pattern')">Ingrese un formato valido. Ej:+5959723214 o 0984124721</mat-error>
              <mat-error *ngIf="formEditarPostulante?.get('celular').hasError('minlength')">Ingrese al menos 6 digitos</mat-error>
            </mat-form-field>
            
            <!-- campo de fecha de nacimiento-->
            <mat-form-field class="Fecha de Nacimiento">
              <input formControlName = "fechaDeNacimiento" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Fecha de Nacimiento" id = "fechaDeNacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>


            <!--subir cv-->
            <mat-form-field >
              <label for="cvInput"><input matInput placeholder="Subir CV" disabled [value]="cvName"></label>
              <label matPrefix ><mat-icon matTooltip="Descargar archivo"  class="icono">get_app</mat-icon></label>
              <label matSuffix for="cvInput" *ngIf="!isLoadingCV&&!cvName"><mat-icon matTooltip="Subir archivo" class="icono">attach_file</mat-icon></label>
              <label matSuffix *ngIf="isLoadingCV" ><mat-spinner diameter=20></mat-spinner></label>
              <label matSuffix *ngIf="!isLoadingCV&&cvName" (click)="vaciarInputCV()"><mat-icon  matTooltip="Eliminar archivo" class="icono">clear</mat-icon></label>
              <mat-hint *ngIf="errorCV" class="error">
                <p *ngIf="!errorCVPesado">No se ha podido subir el archivo. Error en el servidor</p>
                <p *ngIf="errorCVPesado">El tamaño maximo por archivo es de 10MB</p>
              </mat-hint>
            </mat-form-field>
            <input type="file" id="cvInput" class="inputFile"  #curriculumInput (change)="cargarCV()">
          

            <!--subir desafio-->
            <mat-form-field>
            <input matInput placeholder="Subir Desafio" disabled [value]="desafioName">   
            <label matPrefix ><mat-icon matTooltip="Descargar archivo" class="icono">get_app</mat-icon></label>
            <label matSuffix for="desafioInput" *ngIf="!isLoadingDesafio&&!desafioName"><mat-icon matTooltip="Subir archivo" class="icono">attach_file</mat-icon></label>
            <label matSuffix *ngIf="isLoadingDesafio" ><mat-spinner diameter=20></mat-spinner></label>
            <label matSuffix *ngIf="!isLoadingDesafio&&desafioName" (click)="vaciarInputDesafio()"><mat-icon matTooltip="Eliminar archivo" class="icono">clear</mat-icon></label>
            <mat-hint *ngIf="errorDesafio" class="error">
                <p *ngIf="!errorDesafioPesado">No se ha podido subir el archivo. Error en el servidor</p>
                <p *ngIf="errorDesafioPesado">El tamaño maximo por archivo es de 10MB</p>
            </mat-hint>
            </mat-form-field>
            <input type="file" id="desafioInput"  class="inputFile" #desafioInput (change)="cargarDesafio()">

          </div>

        </div>  
        
            
     
      <!--fin bloques y form--> 
    </mat-tab>
    <!--fin pestana 1--> 
    
    <!--inicio pestana 2--> 
    <mat-tab label="Comentarios" id="tab-comentarios">
    
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="5%" fxLayoutAlign="center">
        <!--div bloque 1-->
        <div fxFlex="60%" class="bloque">
          <!--comentario de desafio-->
          <div class="feature">
          <div class="icon">
          <i class="material-icons" style="color: #e91e63;">chrome_reader_mode</i>
          </div>
          <div class="desc">
          <h4>Comentario de Desafio</h4>
          </div>
          </div>
          <mat-form-field class="example-full-width"  >
          <textarea matInput formControlName="comentarioDesafio" cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" id="comentarioDesafio"></textarea>
          </mat-form-field>

          <!--comentario general-->
 
          <div class="feature">
          <div class="icon">
          <i class="material-icons" style="color: #e91e63;">speaker_notes</i>
          </div>
          <div class="desc">
          <h4>Comentario General</h4>
          </div>
          </div>
          <mat-form-field appearance="fill" class="example-full-width" >
          <textarea matInput formControlName="comentario" cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" id="comentario"></textarea>
          </mat-form-field>
          
        </div>

        <!--div bloque 2-->
        <div fxFlex="50%" class="bloque">
          <!--comentario de entrevistas-->
          <div class="feature">
              <div class="icon">
              <i class="material-icons" style="color: #e91e63;">group</i>
              </div>
              <div class="desc">
              <h4>Comentario de Entrevistas</h4>
              </div>
          </div>
          
          <!--SM entrevista-->
          <mat-form-field class="example-full-width" >
          <mat-label>Scrum Master</mat-label>
          <textarea matInput formControlName="comentarioSm" cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" id="comentarioSm"></textarea>
          </mat-form-field>

          <!--admin entrevista-->          
          <mat-form-field class="example-full-width" >
          <mat-label>Administrador</mat-label>
          <textarea  matInput formControlName="comentarioAdmin" cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" id="comentarioAdmin"></textarea>
          </mat-form-field>

          <!--team entrevista-->  
          <mat-form-field class="example-full-width" >
          <mat-label>Team</mat-label>
          <textarea matInput  formControlName="comentarioTeam" cdkTextareaAutosize
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="10" comentarioTeam id="comentarioTeam"></textarea>
          </mat-form-field>
        </div>
      </div>  
    </mat-tab>
    <!--fin pestana 2--> 

    <!--pestana comentarios-->
    <mat-tab label="Aptitudes"> 
      <p style="   text-align: center;
      font-family: 'Montserrat', sans-serif;
      letter-spacing: 5px;">Sitio en contruccion</p>
    </mat-tab>
  </mat-tab-group>
 
   <button mat-raised-button class="fabButton natura-button-1" mat-fab color="primary"  [disabled]="formEditarPostulante?.invalid||enviandoCambios" id="boton">
    <mat-icon>save</mat-icon>
   </button>

  <div style="height:100px;"></div>
</form>

</div>

