/*mat-card*/
.example-card {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: none;
}

.mat-focused .placeholder {
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
/*cursor pointer*/
.cursor{
    cursor:pointer;

  }

.input{
    color:white;

}
p.inicio {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 18;

}


.portrait {
    height:80px;
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*barra de navegacion*/
.barraNavegacion{
    background: black;
}
