mat-table {
  width: 100%;
}
mat-paginator{
  width: 100%;
}
div{
  width: 100%;
}
.funciones-lista{
  height: 60px;
}
.funciones-responsive{
  height: 60px;
  width: 130px;
}
mat-form-field {
  margin-left: 5px;
  font-size: 14px;
  width: 180px;
}
mat-header-cell{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 9;
  color: white;
}
mat-header-row{
  align-items: initial;
  background:  rgb(0, 0, 0);
}
#icon_activo{
  color:#4fb538;
}
#icon_inactivo{
  color:gray;
}
mat-toolbar{
  padding-top: 20px;
  background: white;
}
#agregar_desktop{
  margin-top: 4px;
  margin-left: 5px;
  width: 180px;
  height:50px;
  text-align: center;
}
#agregar_mobile{
  margin-left: 5px;
  height: 50px;
  width: 80px;
}
mat-row:hover {
background: #f2f0f0;
}
#icono_activo{
  color: green;
}
#icono_inactivo{
  color: red;
}