<div fxLayout="column">
    <!--BOTON BUSCAR, FILTRAR Y AGREGAR EN DESKTOP-->
    <div fxLayout="row" fxLayout.xs="column" class="funciones-lista" fxHide.xs>
        <!--Buscar Form-->
        <mat-form-field  appearance="outline">
            <mat-label>Buscar Funcionario</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <!--Filtar Form -->
        <mat-form-field appearance="outline">
            <mat-select placeholder="Filtrar por estados" (selectionChange)= "applyFilter($event.value)"> 
                <!--$event.value me devuelve el contenido de [value]-->
                <mat-option>-- TODOS --</mat-option>
                <mat-option *ngFor="let est of estados" [value]="est.value">
                    {{est.viewValue}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix>filter_list</mat-icon>
        </mat-form-field>
        <!--Boton Agregar funcionario-->
        <button mat-stroked-button id="agregar_desktop" class="natura-button-2" routerLink="/funcionarios/crear-funcionarios">Agregar Funcionario</button>
    </div>
    <!--BOTON BUSCAR, FILTRAR EN MOVIL-->
    <div fxLayoutAlign="center center" fxHide.gt-xs>
        <mat-form-field class="funciones-responsive" appearance="outline">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-form-field class="funciones-responsive" appearance="outline">
                <mat-select placeholder="Filtrar" (selectionChange)= "applyFilter($event.value)"> 
                    <!--$event.value me devuelve el contenido de [value]-->
                    <mat-option>-- TODOS --</mat-option>
                    <mat-option *ngFor="let est of estados" [value]="est.value">
                        {{est.viewValue}}
                    </mat-option>
                </mat-select>
        </mat-form-field>
        <button mat-stroked-button id="agregar_mobile" class="natura-button-2" routerLink="/funcionarios/crear-funcionarios">Agregar</button>
    </div>
        
    <!--Tabla funcionarios-->
    <div class="container" fxLayout="column">
        <mat-table [dataSource]="dataSource" matSort class="tabla-datos">
            <!-- Columna Foto -->
            <ng-container matColumnDef="foto">
                <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
                <mat-cell *matCellDef="let element" [routerLink]="['editar/'+element.id]">
                <mat-icon class="example-icon">account_circle</mat-icon>  
                </mat-cell>
            </ng-container>
        
            <!-- Columna Nombre -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
                <mat-cell *matCellDef="let element" [routerLink]="['editar/'+element.id]"> {{element.nombre}} </mat-cell>
            </ng-container>
        
            <!-- Columna Apellido -->
            <ng-container matColumnDef="apellido">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
                <mat-cell *matCellDef="let element" [routerLink]="['editar/'+element.id]"> {{element.apellido}} </mat-cell>
            </ng-container>
        
            <!-- Columna Fecha fin de contrato -->
            <ng-container matColumnDef="fecha_fin_contrato">
                <mat-header-cell *matHeaderCellDef fxHide.xs> Fin de Contrato </mat-header-cell>
                <mat-cell *matCellDef="let element" [routerLink]="['editar/'+element.id]" fxHide.xs> {{element.fechaVencimiento}} </mat-cell>
            </ng-container>
            
            <!-- Columna Celular -->
            <ng-container matColumnDef="celular">
                <mat-header-cell *matHeaderCellDef fxHide.xs> Celular </mat-header-cell>
                <mat-cell *matCellDef="let element" [routerLink]="['editar/'+element.id]" fxHide.xs> {{element.celular}} </mat-cell>
            </ng-container>

            <!-- Columna Estado -->
            <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef fxHide.xs> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let element" [routerLink]="['editar/'+element.idUsuario]" fxHide.xs> 
                        <ng-container *ngIf="element.activo">
                            <mat-icon class="success" class="example-icon"> fiber_manual_record </mat-icon>
                        </ng-container>
                        <ng-container *ngIf="!element.activo">
                            <mat-icon id="danger" class="example-icon"> fiber_manual_record </mat-icon>
                        </ng-container>
                        {{element.nombre_estado}}
                    </mat-cell>
                </ng-container>

            <!-- Columna Accion -->
            <ng-container matColumnDef="accion">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button matTooltip="Editar Funcionario" class="example-icon" [routerLink]="['editar/'+element.id]">
                            <mat-icon class="example-icon">edit</mat-icon>
                        </button> 
                        <button mat-icon-button matTooltip="Dar de Baja Funcionario" class="example-icon" (click)="openModalBaja()">
                            <mat-icon class="example-icon">thumb_down</mat-icon>
                        </button>
                    </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"></mat-row>
        </mat-table>
        <mat-paginator class="tabla-datos" [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
    </div>
</div>
  