table {
    width: 100%;
  }
  div{
    width: 100%;
  }
  .mat-form-field {
    margin-left: 20px;
    font-size: 14px;
    width: 20%;
  }
  th{
    font-family: 'Montserrat', sans-serif;
    font-size: 9;
    background: black;
    color: white;
  }
  mat-toolbar{
    background: white;
  }
  th.mat-sort-header-sorted {
    color: black;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

.natura-button-3{
  margin-left: 40%;
  margin-right: 8px;
  height:50px;
  bottom: 10px;
  text-align: center;
}

tr:hover {
  background: #f2f0f0;
}