/*
css para forms*/
.example-container.ex  {
  display: flex;
  flex-direction: column;
  
}

.example-container > * {
  width: 100%;
}

/*
css para foto de perfil*/
img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);   
  z-index: 2;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}

.hoverable:hover .background{
  display: block;
}

.inputFile{
  display: none;
}

.fileInputProfile{
  display: none;
}
/*margin gral*/
.space-01{
  margin: 30px;
}


/*alinear iconos*/
.alinear span,

.feature{
  display: flex;
  /*width: 100%;*/
  flex: 1;
  margin-top: 50px;
}

.feature .icon{
  width: 40px;
}

.feature .icon i{
  font-size: 2.6em;
}

.feature .desc{
  flex: 1;
  margin-left: 10px;
}

.feature .desc p{
  margin-top: 17px;
}

.feature .desc h4{
  margin-top: 8px;
}


/**/

.bloque > *{
  width: 100%;
}