.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
  }

  .bloque > *{
    width: 100%;
  }

  mat-form-field{
    margin-top: 20px;
  }

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  /*CLASES USADAS PARA LA FOTO*/
  .hoverable{
    position: relative;
    display: block;
    cursor: pointer;
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }
  
  .hoverable .background{
    position: absolute;
    display: none;
    top: 0;
    left:  0;
    bottom: 0;
    right: 0;
    background-color:rgba(255, 255, 255, 0.5);
    pointer-events: none;
    border-radius: 50%;
    z-index: 1;
  }
    
  #fotoPerfil{
    display: none;
  }
  
  #curriculum{
    display: none;
  }

  #desafio{
    display: none;
  }

  .icono{
    width:10px; 
    height:18.35px;
    color:rgba(0, 0, 0, 0.54);
}

.botones{
  margin: auto;
  border-radius: 50px

}