@import '~@angular/material/theming';

@include mat-core();

$natura-primary: mat-palette($mat-grey,A700,600,900);
$natura-accent: mat-palette($mat-deep-orange);
$natura-warn: mat-palette($mat-red);

$natura-theme: mat-light-theme($natura-primary,$natura-accent,$natura-warn);



@include angular-material-theme($natura-theme);

$natura-dark-primary: mat-palette($mat-grey);
$natura-dark-accent:  mat-palette($mat-deep-orange);
$natura-dark-warn:    mat-palette($mat-red);
$natura-dark-theme:   mat-dark-theme($natura-dark-primary, $natura-dark-accent, $natura-dark-warn);

.natura-dark-theme {
  @include angular-material-theme($natura-dark-theme);
}


.natura-button-1 {
    background: linear-gradient(90deg,#751B52,#DB1944,#EE730D);
    color: #fafafa;
}

.natura-button-2 {
    background: linear-gradient(90deg,#DB1944,#EE730D);
    color: #fafafa;
}

.natura-button-3 {
    background: #616161;
    color: white;
}
.natura-button-3:hover {
    background: linear-gradient(90deg,#DB1944,#EE730D);
    color: white;
}


body{
  height: 100vh;
  margin: 0;
}

@-webkit-keyframes spin{ 0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@-moz-keyframes spin{0%{-moz-transform:rotate(0)}100%{-moz-transform:rotate(360deg)}}@keyframes spin{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
.spinner{
  position:fixed;top:0;left:0;width:100%;height:100%;z-index:1003;background: #f8f9fa;overflow:hidden
}
.spinner div:first-child{
  display:block;position:relative;left:50%;top:50%;width:150px;height:150px;margin:-75px 0 0 -75px;border-radius:50%;box-shadow:0 3px 3px 0 #871f78;transform:translate3d(0,0,0);animation:spin 2s linear infinite
}
.spinner div:first-child:after,.spinner div:first-child:before{
  content:'';position:absolute;border-radius:50%
}
.spinner div:first-child:before{
  top:5px;left:5px;right:5px;bottom:5px;box-shadow:0 3px 3px 0 #871f78;-webkit-animation:spin 3s linear infinite;animation:spin 3s linear infinite
}
.spinner div:first-child:after{
  top:15px;left:15px;right:15px;bottom:15px;box-shadow:0 3px 3px 0 #871f78;animation:spin 1.5s linear infinite
}

.aligner {
  /*display: flex;
  align-items: center;*/
  justify-content: center;
  height: 100%;
}

.aligner-item {
  max-width: 50%;
}

